@model IEnumerable<BigMac.Models.CusSup_m_CusRedemption>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;    
}

    <div class="row">
	    <div class="box col-sm-12">			                    
            <div >
                <p >
                <a href="@Url.Action("CustomerRedemption","CustomerRedemption", new { Id= 0})" >
                    <i class="fa fa-plus"></i>
                    Add New Customer Redemption
                </a>
                </p>
            </div>
        </div>
    </div>
	<div class="row">		
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header" data-original-title>
					<h2><i class ="fa fa-retweet"></i><span class="break"></span>Customer Redemption Listing</h2>
						<div class="box-icon">
					        <a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
					        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
					        <a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
						</div>
				</div>
				<div class="box-content">
					<table class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							<tr>
                                <th>Sr.</th>
                                <th>Date</th>
                                <th>Company</th>
								<th>Branch</th>
                                <th>Product</th>
                                <th>Resource</th>
								<th>Credit</th>
								<th>Debit</th>
                                <th>Balance</th>
                                <th>Remark</th>
                                <th></th>
							</tr>
                        </thead>   
                        <tbody>
                                @foreach (var item in Model)
                                {
                                    i = i+1;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>                                            
                                            @string.Format("{0:dd/MM/yyyy}",item.createdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelitem => item.cocode)
                                        </td>
                                        <td>
                                           @Html.DisplayFor(modelitem => item.branchcode)
                                        </td>
                                        <td>
                                           @Html.DisplayFor(modelitem => item.productdesc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.resource )
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.credit )
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.debit)
                                        </td>        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.balance)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.remark)
                                        </td>

									    <td class="center">
										    <a class="btn btn-info" href="@Url.Action("RedemptionSave", "CusSup", new { id = item.id })" title ="Edit Purchase Order">
											    <i class="fa fa-edit"></i>                                            
										    </a>										    
                                            <a class="btn btn-danger" href="#" title ="Remove Purchase Order" onclick ='RemoveRow(this,@item.id)'>
											    <i class="fa fa-trash-o "></i> 
										    </a>
									    </td>                                                
                                    </tr>                                            
                                }
                        </tbody>
                    </table>							   
                </div> @*box-content*@
            </div> @*box*@
        </div>
    </div> @*row*@

<script type ="text/javascript">

    function RemoveRow(paramtr, cid) {
        var result = confirm("Are you sure you Want to delete this pruchase order?");
        if (result == true) {
             $(paramtr).closest('tr').remove(); 
@*            $.ajax({
                url: '@Url.Action("CampaignDelete", "Campaign")',
                data: { id: cid },
                type: 'POST',
                success: function (data) {
                    if (data == "SUCCESS")
                    { $(paramtr).closest('tr').remove(); }
                    //alert(data);
                }
            });*@
        }
    }
</script>
