@model BigMac.Models.Invoice_m_Invoice

@{
    ViewBag.Title = "Redeem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-top: 0px;margin-top:0px;">
    <div class="col-lg-12" style="padding-top: 0px;margin-top:0px;">
        <div class="box" style="padding-top: 0px;margin-top:0px;">
            <div class="box-header">
                <h2><i class="fa fa-list-alt"></i>New Member</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div>
                    <input type="hidden" id="uname" value="@Html.Encode(User.Identity.Name)">
                    <input type="hidden" id="citidesc" value="@ViewBag.CitiDesc">
                    <input type="hidden" id="bonusdesc" value="@ViewBag.BonusDesc">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <span>Branch</span>
                                @Html.DropDownList("cboBptype", new SelectList(@ViewBag.BranchOptions, "branchcode", "branchcode"), new { @class = "form-control" })
                            </div>
                            <div class="col-lg-2">
                                <span>From</span>
                                <input class="form-control date-picker" data-date-format="dd/mm/yyyy" id="dF" />
                            </div>
                            <div class="col-lg-2">
                                <span>To</span>
                                <input class="form-control date-picker" data-date-format="dd/mm/yyyy" id="dT" />
                            </div>

                            <div class="col-lg-2" style="margin-top:15px;">
                                <button type="button" id="btnPrint" onclick="rptNewMember()" class="btn btn-primary" style="width:100px;">Print</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="col-sm-2" data-rcode="TOPUP" style="display:none;">
                <a class="quick-button" onclick="TopUpFunction(this, 3, $('#memberid').val());" data-rcode="TOPUP" style="display:none;">
                    <i class="fa fa-ticket"></i>
                    <p>Club</p>
                </a>
            </div>

            <div class="col-sm-2" style="display:none;" data-rcode="REDEEM">
                <a class="quick-button" data-rcode="REDEEM" onclick="RedeemFunction(this, 3, $('#memberid').val());" style="display:none;">
                    <i class="fa fa-ticket"></i>
                    <p>Redeem</p>
                </a>
            </div>

            <div class="col-sm-2" data-rcode="CREATEMEMBER" style="display:none;">
                <a class="quick-button" onclick="CreateMemberFunction(this);" data-rcode="CREATEMEMBER">
                    <i class="fa fa-user"></i>
                    <p>Create Member</p>
                </a>
            </div>

            <div class="col-sm-2" data-rcode="MEMBERLISTING" style="display:none;">
                <a class="quick-button" onclick="MemberSearchFunction(this);" id="BTNMEMBERLISTING" data-rcode="MEMBERLISTING">
                    <i class="fa fa-users"></i>
                    <p>Membership Enquiry</p>
                </a>
            </div>

            @*<div class="col-sm-2" data-rcode="PRODUCTLISTING" style="display:none;">
                    <a class="quick-button" data-rcode="PRODUCTLISTING" href="~/Product/ProductListing?rcode=ProductListing&ptype=%">
                        <i class="fa fa-list-alt"></i>
                        <p>Product Listing</p>
                    </a>
                </div>

                <div class="col-sm-2" data-rcode="PROMOTIONLISTING" style="display:none;">
                    <a class="quick-button" data-rcode="PROMOTIONLISTING" onclick="PromotionListingFunction(this);">
                        <i class="fa fa-list-alt"></i>
                        <p>Promotion Listing</p>
                    </a>
                </div>*@

            <div class="col-sm-2">
                <a class="quick-button" href="~/Access/BranchStaffIndex">
                    <i class="fa fa-user"></i>
                    <p>Branch Staff</p>
                </a>
            </div>

            <div class="col-sm-2">
                <a class="quick-button" href="~/Home/Index">
                    <i class="fa fa-home"></i>
                    <p>Home</p>
                </a>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    function rptNewMember()
    {
        var uname = $('#uname').val();
        var fdate = $('#dF').datepicker("getDate");
        var tdate = $('#dT').datepicker("getDate");
        var bcode = $('#cboBptype').val();
        var citidesc = $('#citidesc').val();
        var bonusdesc = $('#bonusdesc').val();
        //alert("../../BigMac/Reports/DailySalesByBranch.aspx?uname=" + uname + "&fdate=" + fdate + "&tdate=" + tdate);
        //window.open("../../BigMac/Reports/DailySalesByBranch.aspx?uname=" + uname + "&fdate=" + fdate + "&tdate=" + tdate + "&bcode=" + bcode);
        var fd = fdate.getFullYear() + '-' + (fdate.getMonth() + 1) + '-' + fdate.getDate();
        var td = tdate.getFullYear() + '-' + (tdate.getMonth() + 1) + '-' + tdate.getDate();

        var ffd = fdate.getDate() + '/' + (fdate.getMonth() + 1) + '/' + fdate.getFullYear();
        var ttd = tdate.getDate() + '/' + (tdate.getMonth() + 1) + '/' + tdate.getFullYear();

        $.ajax({
            url: '@Url.Action("PrintMobile", "Report")',
            data: { df: fd, dt: td, b: bcode, uname: uname },
            type: 'POST',
            success: function (data) {
                if (data == "SUCCESS") {
                    window.open("../Reports/NewMember.aspx?uname=" + uname + "&fdate=" + ffd + "&tdate=" + ttd + "&bcode=" + bcode + "&citidesc=" + citidesc + "&bonusdesc=" + bonusdesc);
                }
            },
            error: function (ts) { alert(ts.responseText) }
        });
        //window.open("../Reports/NewMember.aspx?uname=" + uname + "&fdate=" + fdate + "&tdate=" + tdate + "&bcode=" + bcode + "&citidesc=" + citidesc + "&bonusdesc=" + bonusdesc);
       
    }
</script>
