@model BigMac.Models.Product_m_ProductPrice
@{
    ViewBag.Title = "ProductPrice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;   
}

    <div class="row">
        <div class ="col-lg-12">
            <div class="box">
                <div class ="box-header">
							<h2><i class="fa fa-edit"></i>Pricing Entry </h2>
							<div class="box-icon">
					            <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
					            <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
					            <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
                </div>
                <div class ="box-content">
                @using (Html.BeginForm("ProductPrice","Product",FormMethod.Post)) 
                {
                    @Html.ValidationSummary(true)
                    <fieldset  class ="col-sm-12">
                            <div id="MyWizard" class="wizard">
			                    <ul class="steps">
				                    <li data-target="#step1" class="complete"><span class="badge badge-info">1</span></li>
				                    <li data-target="#step2"  class="active"><span class="badge">2</span></li>
			                    </ul>
			                    <div class="actions">
					                <a class="btn btn-prev" href="@Url.Action("ProductSave", "Product", new { id = Model.productid })">
                                        <i class="icon-arrow-left"></i> Prev								
					                </a>
					                <a class="btn btn-success btn-next" href="#" aria-disabled="true">
                                        Next<i class="icon-arrow-right"></i>
					                </a>
			                    </div>
                            </div>                          
                        <br/>                       

                        <table>
                            <tr>
                                <td><input type ="hidden" value ="@ViewBag.prc" id="txtprc"/></td>
                                <td colspan ="4"><label class ="control-label" style ="color:green;">Product : @ViewBag.ProductName</label><br /></td>
                                @*<td><input type="text" value="@ViewBag.ProductName" disabled ="disabled" class ="form-control" /></td>*@
                            </tr>
                            <tr>
                                <td style ="width:10px;"> @Html.HiddenFor(model => model.productid)    </td>
                                <td style ="width:20%;">
				                    <div class="form-group">
					                    <label class="control-label" >@Html.LabelFor(model => model.pricetype) </label>
					                    <div class="controls">                                            
                                             @*@Html.HiddenFor(model => model.staffid)*@
                                             @Html.DropDownListFor(model => model.pricetype, new SelectList(@ViewBag.PriceTypeOptions,"id","pricetype"), new { @class ="form-control"})                                                                   
					                    </div>
				                    </div>
                                </td>
                                @*<td></td>*@
                                <td style ="width:15%;">
				                    <div class="form-group">
					                    <label class="control-label" >@Html.LabelFor(model => model.price) </label>
					                    <div class="controls">                                            
                                             @*@Html.HiddenFor(model => model.staffid)*@
                                             @Html.TextBoxFor(model => model.price, new { @class ="form-control"})    
					                    </div>
				                    </div>
                                </td>
                                @*<td></td>*@
                                <td style ="width:15%;">
				                    <div class="form-group">
					                    <label class="control-label" >@Html.LabelFor(model => model.currency) </label>
					                    <div class="controls">                                            
                                             @*@Html.HiddenFor(model => model.staffid)*@
                                             @Html.TextBoxFor(model => model.currency, new { @class ="form-control"})    
					                    </div>
				                    </div>
                                </td>
                                @*<td></td>*@
                                <td style ="width:15%;">
				                    <div class="form-group">
					                    <label class="control-label" >@Html.LabelFor(model => model.exchangerate) </label>
					                    <div class="controls">                                            
                                             @*@Html.HiddenFor(model => model.staffid)*@
                                             @Html.TextBoxFor(model => model.exchangerate, new { @class ="form-control"})    
					                    </div>
				                    </div>
                                </td>
                                @*<td></td>*@
                                <td style ="width:15%;">
				                    <div class="form-group">
					                    <label class="control-label" >@Html.LabelFor(model => model.stockreceivedref) </label>
					                    <div class="controls">                                            
                                             @*@Html.HiddenFor(model => model.staffid)*@
                                             @Html.TextBoxFor(model => model.stockreceivedref, new { @class ="form-control"})    
					                    </div>
				                    </div>
                                </td>
                                <td></td>
                            </tr>                               

                            <tr>
                                <td colspan ="7">
		                            <div class="form-actions">
			                            <button type="submit" class="btn btn-primary" value="Save" >Save changes</button>
                                        @*<a class="btn btn-primary" href="@Url.Action("UserSave", "Access", new { id = item.id })" title ="Edit User"></a>*@
			                            <button type="reset" class="btn">Cancel</button>
		                            </div>
                                </td>     
                            </tr>
                        </table>

			        <div class="row">		
				        <div class="col-lg-12">
					        <div class="box">
						        <div class="box-header" data-original-title>
							        <h2>Pricing</h2>
							        <div class="box-icon">
								        <a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
								        <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
								        <a href="#" class="btn-close"><i class="icon-remove"></i></a>
							        </div>
						        </div>
						        <div class="box-content">
                                    <div id="divgrid"></div>						   
                                </div> @*box-content*@
                            </div> @*box*@
                        </div>
                    </div> @*tablerow*@           
                    </fieldset>                
                }
            </div> @*box*@
        </div>
    </div>@*row*@

<script type ="text/javascript">

    if ($('#txtprc').val() == 1) {
        $('#MyWizard').html("");
    }

    showGrid();

    function showGrid() {

        var pid = $('#productid').val();
        $.ajax({
            url: '@Url.Action("ProductPriceList", "Product")',
            data: { productid: pid },
            type: 'POST',
            success: function (data) {
                if (data) {
                    populateGrid(data);
                }
                //alert(data);
            }
        });
    }

    function populateGrid(data) {
        var i = 0;
        var htmlstr = "<table class='table table-striped table-bordered bootstrap-datatable datatable' id ='tblAccessRight' ><thead>";
        htmlstr = htmlstr + "<tr><th>PriceType</th><th>Price</th><th>Currency</th><th>Exchange Rate</th><th>Stock Received Ref:</th><th  style ='width:10%'></th></tr></thead><tbody>";

        for (i = 0; i < data.length; i++) {
            htmlstr = htmlstr + "<tr><td>" + data[i].pricetype + "</td><td>" + data[i].price + "</td><td>" + data[i].currency + "</td><td>" + data[i].exchangerate + "</td><td>" + data[i].stockreceivedref + "</td><td class='center'><a class='btn btn-danger' href='#' onclick ='RemoveRow(this," + data[i].id + ")' ><i class='fa fa-trash-o'></i></a></td></td> ";
        }

        htmlstr = htmlstr + "</tbody></table>";
        $('#divgrid').html(htmlstr);
    }

    function RemoveRow(paramtr, acid) {
        var result = confirm("Are you sure you Want to delete?");
        if (result == true) {
            { $(paramtr).closest('tr').remove(); }
@*            $.ajax({
                url: '@Url.Action("CampaignStaffDelete", "Campaign")',
                data: { id: acid },
                type: 'POST',
                success: function (data) {
                    if (data == "SUCCESS")
                    { $(paramtr).closest('tr').remove(); }
                    //alert(data);
                }
            });*@
        }
    }
</script>