@model BigMac.Models.Campaign_m_Attendance_Staff

@{
    ViewBag.Title = "Step2";
    Layout = "~/Views/Shared/_CampaignLayout.cshtml";
    //var i = 1;
}

<div class="row">
    <div class ="col-lg-12">
        <div class="box">
            <div class ="box-header">
						<h2><i class="fa fa-plus"></i>Add Compaign Staff Attendance</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="icon-remove"></i></a>
						</div>
            </div>
            <div class ="box-content">

            @using (Html.BeginForm("Step2", "Campaign", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            @Html.ValidationSummary(true)
                <fieldset  class ="col-sm-12">
                <div id="MyWizard" class="wizard">
			        <ul class="steps">
				        <li data-target="#step1" class="complete"><span class="badge badge-info">1</span></li>
				        <li data-target="#step2"  class="active"><span class="badge">2</span></li>
				        <li data-target="#step3"><span class="badge">3</span></li>
				        <li data-target="#step4"><span class="badge">4</span></li>				    
			        </ul>
			        <div class="actions">
					    <a class="btn btn-prev" href="@Url.Action("Step1", "Campaign", new { id = Model.campaignid})">
                            <i class="icon-arrow-left"></i> Prev								
					    </a>
					    <a class="btn btn-success btn-next" href="@Url.Action("Step3", "Campaign", new { id = Model.campaignid})">
                            Next<i class="icon-arrow-right"></i>
					    </a>
			        </div>
                </div>
				<div class="form-group">
					<label class="control-label" >@Html.LabelFor(model => model.groupid)</label>
					<div class="controls row">
                        <div class="col-lg-4">
                        @Html.HiddenFor(model => model.campaignid)     
                        @Html.DropDownListFor(model => model.groupid, new SelectList(@ViewBag.GroupOptions,"id","group"), new { @class ="form-control",@id="cbogroup",@name="cbogroup"})
                        </div>
                        @Html.ValidationMessageFor(model => model.groupid)
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" >@Html.LabelFor(model => model.branchcode) </label>
					<div class="controls row">
                        <div class="col-lg-4">
                         @*@Html.HiddenFor(model => model.branchcode)*@     
                         <select id="cbobranch" name ="cbobranch" class="form-control"></select>
                        </div>
                       
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" >@Html.LabelFor(model => model.staffid) </label>
					<div class="controls row">
                        <div class="col-lg-4">
                         @*@Html.HiddenFor(model => model.staffid)*@
                         <select id="cbostaff" name ="cbostaff" class="form-control"></select>
                        </div>
                       
					</div>
				</div>

		        <div class="form-actions">
			        @*<button type="submit" class="btn btn-primary" value="Save" >Add</button>*@
                    <button type="button" class="btn btn-primary" value="Save" id ="btnAdd">Add</button>
			        <button type="reset" class="btn">Cancel</button>
		        </div>

			    <div class="row">		
				    <div class="col-lg-12">
					    <div class="box">
						    <div class="box-header" data-original-title>
							    <h2><i class="fa fa-key"></i><span class="break"></span><b>@Model.gameDesc</b>'s Staff Listing   </h2>
							    <div class="box-icon">
								    <a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								    <a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
							    </div>
						    </div>
						    <div class="box-content">
                                <div id="divgrid"></div>						   
                            </div> @*box-content*@
                        </div> @*box*@
                    </div>
                </div> @*tablerow*@

            </fieldset>
            }
            </div>
        </div> @*box*@
    </div>
</div>@*row*@
<div class="row">
    <div class="col-lg-12">
        <div class="box">

            <div class="col-sm-2">
                <a class="quick-button" href="~/Access/BranchStaffIndex">
                    <i class="fa fa-user"></i>
                    <p>Home</p>
                </a>
            </div>


        </div>
    </div>
</div>

<script type ="text/javascript">


    $('#btnAdd').click(function e() { Step2AddStaff(); });
    $('#cbogroup').change(function () { $('#cbobranch').empty(); getBranches($('#cbogroup').val()); });
    $('#cbobranch').change(function () { $('#cbostaff').empty(); getStaffs($('#cbobranch').val()); });
    //$('#cbostaff').change(function () { setSelectedValue(); });
    getBranches($('#cbogroup').val());
    showGrid();
    //getStaffs($('#cbobranch').val());

    function getBranches(gid) {
        $.ajax({
            url: '@Url.Action("getBranches", "Campaign")',
            data: { groupid: gid },
            type: 'POST',
            success: function (data) {
                //$("#tese").html(data);
                //$("#cbobranch").html("<option value = \"\"></option>")
                var Htmlstr = "";

                for (var x = 0; x < data.length; x++) {
                    //if (data[x].Selected) 
                    //    Htmlstr += "<option selected='selected' value=" + data[x].Branch.branchname + ">" + data[x].Text + "</option>";                        
                    //else

                    Htmlstr += "<option value=" + data[x].branchcode + ">" + data[x].Branch.branchname + "</option>";
                }
                $('#cbobranch').html(Htmlstr).show();
                getStaffs($('#cbobranch').val());
                //alert(data);
            }
        });
    }
        function getStaffs(bid)
        {
            $.ajax({
                url: '@Url.Action("getBranchStaffs", "Campaign")',
                data: { branchcode: bid },
                type: 'POST',
                success: function (data) {
                //$("#tese").html(data);
                //$("#cbobranch").html("<option value = \"\"></option>")
                var Htmlstr = "";
                for (var x = 0; x < data.length; x++)
                {
                    Htmlstr += "<option value=" + data[x].staffid + ">" + data[x].Staff.name + "</option>";
                }
                
                $('#cbostaff').html(Htmlstr).show();
                //setSelectedValue();
                //$('#staffid').val($('#cbostaff').val());
                //$('#staffid').val($('#cbostaff').val());
                //alert('staff'+$('#staffid').val());
                //alert(data);
            }
        });
        }
    //function setSelectedValue()
    //{
    //    $('#branchcode').val($('#cbobranch').val());
    //    $('#staffid').val($('#cbostaff').val());
    //}

    function RemoveRow(paramtr, acid) {
        var result = confirm("Are you sure you Want to delete?");
        if (result == true) {
            $.ajax({
                url: '@Url.Action("CampaignStaffDelete", "Campaign")',
                data: { id: acid },
                type: 'POST',
                success: function (data) {
                    if (data == "SUCCESS")
                    { $(paramtr).closest('tr').remove(); }
                    //alert(data);
                }
            });
        }
    }

    function Step2AddStaff() {
        //alert('Add Staff');
        var cid = $('#campaignid').val();
        var gid = $('#cbogroup').val();
        var bid = $('#cbobranch').val();
        var sid = $('#cbostaff').val();
        
        $.ajax({
            url: '@Url.Action("Step2AddStaff", "Campaign")',
            data: { campaignid: cid,groupid:gid,branchcode:bid,staffid:sid },
            type: 'POST',
            success: function (data) {
                if (data == "SUCCESS")
                {
                    alert("Successfully Added.");
                    showGrid();
                }
                //alert(data);
            }
        });        
    }

    function showGrid() {

        var cid = $('#campaignid').val();
        $.ajax({
            url: '@Url.Action("Step2StaffList", "Campaign")',
            data: { campaignid: cid },
            type: 'POST',
            success: function (data) {
                if (data)
                {
                    populateGrid(data);
                }
                //alert(data);
            }
        });
    }

    function populateGrid(data)
    {
        var i=0;
        var htmlstr = "<table class='table table-striped table-bordered bootstrap-datatable datatable' id ='tblAccessRight' ><thead>";
        htmlstr = htmlstr + "<tr><th  style ='width:10%'>Sr.</th><th>Group</th><th>Branch</th><th>Staff Name</th><th  style ='width:10%'></th></tr></thead><tbody>";

        for (i = 0; i < data.length; i++)
        {
            if (data[i].Staff != null) {
                htmlstr = htmlstr + "<tr><td>" + (i + 1) + "</td><td>" + data[i].Group.group + "</td><td>" + data[i].DecryptedBranchName + "</td><td>" + data[i].Staff.name + "</td><td class='center'><a class='btn btn-danger' href='#' onclick ='RemoveRow(this," + data[i].id + ")' ><i class='fa fa-trash-o '></i></a></td></td> ";
            }
        }

        htmlstr = htmlstr + "</tbody></table>";
        $('#divgrid').html(htmlstr);
    }
</script>
