@model IEnumerable<BigMac.Models.Purchase_m_Purchase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;        
}

    <div class="row">
	    <div class="box col-sm-12">			                    
            <div >
                <p >
                <a href="@Url.Action("PurchaseOrder", "Purchase", new { id = 0 })" >
	                <i class="fa fa-plus" ></i> 
                    Add New Purchase Order
                </a>
                </p>
            </div>
        </div>
    </div>
	<div class="row">		
		<div class="col-lg-12">
			<div class="box">
				<div class="box-header" data-original-title>
					<h2><i class ="fa fa-list"></i><span class="break"></span>Purchase Order Listinng</h2>
					<div class="box-icon">
					<a href="#" class="btn-setting"><i class="fa fa-wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="fa fa-times"></i></a>
					</div>
				</div>
				<div class="box-content">
					<table class="table table-striped table-bordered bootstrap-datatable datatable">
						<thead>
							<tr>
                                <th>Sr.</th>
                                <th>Date</th>
								<th>Branch</th>
								<th>Supplier</th>
								<th>Total</th>
                                <th>Currency</th>
                                <th>Status</th>
                                <th></th>
							</tr>
                        </thead>   
                        <tbody>
                                @foreach (var item in Model)
                                {
                                    i = i+1;
                                    <tr>
                                        <td>
                                            @i
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.createdate)*@
                                            @string.Format("{0:dd/MM/yyyy}",item.createdate)
                                        </td>
                                        <td>
                                            @*@item.Branch.getBranchName()*@
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.cussupname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.total_total)
                                        </td>        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.currency)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.status)
                                        </td> 
									    <td class="center">
                                            
										    <a class="btn btn-info" href="@Url.Action("PurchaseOrder", "Purchase", new { id = item.id })" title ="Edit Purchase Order">
											    <i class="fa fa-edit"></i>                                            
										    </a>
                                            <a class="btn btn-info" href="@Url.Action("PurchasePayment", "Purchase", new { purchaseid = item.id })" title ="Make Payment">Payment</a>
										    @*<a class="btn btn-danger" href="@Url.Action("Delete", new { id=item.id })" title ="Remove Staff">*@
                                            <a class="btn btn-danger" href="#" title ="Remove Purchase Order" onclick ='RemoveRow(this,@item.id)'>
											    <i class="fa fa-trash-o "></i> 
										    </a>
									    </td>                                                
                                    </tr>                                            
                                }
                        </tbody>
                    </table>							   
                </div> @*box-content*@
            </div> @*box*@
        </div>
    </div> @*row*@

<script type ="text/javascript">

    function RemoveRow(paramtr, cid) {
        var result = confirm("Are you sure you Want to delete this pruchase order?");
        if (result == true) {
             $(paramtr).closest('tr').remove(); 
@*            $.ajax({
                url: '@Url.Action("CampaignDelete", "Campaign")',
                data: { id: cid },
                type: 'POST',
                success: function (data) {
                    if (data == "SUCCESS")
                    { $(paramtr).closest('tr').remove(); }
                    //alert(data);
                }
            });*@
        }
    }
</script>